extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug

block scripts
    - var path = "./local/templates/tcavtodor"
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/libs/swiffy-slider-1.6.0/swiffy-slider.min.js`)
    script(src=`${path}/pages/spec.predlozhenija/js/index.js`, type="module")


block head
    - var path = "./local/templates/tcavtodor"
    link(rel="stylesheet", href=`${path}/libs/swiffy-slider-1.6.0/swiffy-slider.min.css`)
    link(rel="stylesheet", href=`${path}/css/style.css`)
    +head('Спец.предложения - avtodor', '') 

block content
    - var authorization = true;
    +header(authorization)
    main(class="")
        div(class="flex flex-col gap-32 mb-32")
            div(class="container mx-auto flex flex-col gap-8 pt-10")
                h1(class="font-Helvetica font-semibold text-4xl text-black") Спец.предложения
                div(class="grid grid-cols-1fr-1fr gap-8")
                    img(class="w-full aspect-16-9 object-cover rounded-md", alt="лого", src=`${path}/img/stub.jpg`)
                    div(class="flex flex-col gap-4")
                        h2(class="font-Helvetica font-semibold text-3xl text-black")
                            | Описание
            div(class="container mx-auto flex flex-col gap-10")
                div(class="flex flex-col gap-8")
                    div(class="grid grid-cols-1fr-1fr gap-8")
                        img(class="rounded-lg w-full h-full aspect-16-9 object-cover", alt="Картинка", src=`${path}/img/stub.jpg`)
                        div(class="flex flex-col gap-4")
                            p(class="font-Helvetica font-semibold text-2xl text-black") Акция 1
                            p(class="font-Helvetica font-medium text-lg text-black") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga necessitatibus, molestiae blanditiis minima labore dicta a dolore. Inventore soluta officiis dolores accusantium.
                            div(class="flex flex-col")
                                p(class="font-Helvetica font-medium text-lg text-black") Условия акции:
                                ul(class="list-disc pl-4")
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Широкие карьерные перспективы
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Поддержка со стороны государства
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Соответствие федеральным стандартам
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Внесение в Реестр
                            div(class="flex items-center gap-4 p-4 rounded-lg bg-lightGray mt-auto justify-between")
                                p(class="font-Helvetica font-medium text-lg text-black") Акция действует
                                div(dedlineTimer="2025-01-25", class="flex items-center gap-2")
                                    p(dedlineTimerDays="", class="font-Helvetica font-medium text-black text-lg") 00
                                    p(dedlineTimerDaysText="", class="font-Helvetica font-medium text-black text-lg") дня
                                    div(class="flex items-center")
                                        p(dedlineTimerHours="", class="font-Helvetica font-medium text-black text-lg") 00
                                        p(class="font-Helvetica font-medium text-black text-lg") :
                                        p(dedlineTimerMinutes="", class="font-Helvetica font-medium text-black text-lg") 00
                                        p(class="font-Helvetica font-medium text-black text-lg") :
                                        p(dedlineTimerSeconds="", class="font-Helvetica font-medium text-black text-lg") 00
                    div(class="grid grid-cols-1fr-1fr gap-8")
                        img(class="rounded-lg w-full h-full aspect-16-9 object-cover", alt="Картинка", src=`${path}/img/stub.jpg`)
                        div(class="flex flex-col gap-4")
                            p(class="font-Helvetica font-semibold text-2xl text-black") Акция 2
                            p(class="font-Helvetica font-medium text-lg text-black") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga necessitatibus, molestiae blanditiis minima labore dicta a dolore. Inventore soluta officiis dolores accusantium.
                            div(class="flex flex-col")
                                p(class="font-Helvetica font-medium text-lg text-black") Условия акции:
                                ul(class="list-disc pl-4")
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Широкие карьерные перспективы
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Поддержка со стороны государства
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Соответствие федеральным стандартам
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Внесение в Реестр
                            div(class="flex items-center gap-4 p-4 rounded-lg bg-lightGray mt-auto justify-between")
                                p(class="font-Helvetica font-medium text-lg text-black") Акция действует
                                div(dedlineTimer="2025-02-02", class="flex items-center gap-2")
                                    p(dedlineTimerDays="", class="font-Helvetica font-medium text-black text-lg") 00
                                    p(dedlineTimerDaysText="", class="font-Helvetica font-medium text-black text-lg") дня
                                    div(class="flex items-center")
                                        p(dedlineTimerHours="", class="font-Helvetica font-medium text-black text-lg") 00
                                        p(class="font-Helvetica font-medium text-black text-lg") :
                                        p(dedlineTimerMinutes="", class="font-Helvetica font-medium text-black text-lg") 00
                                        p(class="font-Helvetica font-medium text-black text-lg") :
                                        p(dedlineTimerSeconds="", class="font-Helvetica font-medium text-black text-lg") 00
                    div(class="grid grid-cols-1fr-1fr gap-8")
                        img(class="rounded-lg w-full h-full aspect-16-9 object-cover", alt="Картинка", src=`${path}/img/stub.jpg`)
                        div(class="flex flex-col gap-4")
                            p(class="font-Helvetica font-semibold text-2xl text-black") Акция 3
                            p(class="font-Helvetica font-medium text-lg text-black") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga necessitatibus, molestiae blanditiis minima labore dicta a dolore. Inventore soluta officiis dolores accusantium.
                            div(class="flex flex-col")
                                p(class="font-Helvetica font-medium text-lg text-black") Условия акции:
                                ul(class="list-disc pl-4")
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Широкие карьерные перспективы
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Поддержка со стороны государства
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Соответствие федеральным стандартам
                                    li(class=" marker:text-primary")
                                        p(class="font-Helvetica font-medium text-lg text-black") Внесение в Реестр
                            div(class="flex items-center gap-4 p-4 rounded-lg bg-lightGray mt-auto justify-between")
                                p(class="font-Helvetica font-medium text-lg text-black") Акция действует
                                div(dedlineTimer="2025-02-20", class="flex items-center gap-2")
                                    p(dedlineTimerDays="", class="font-Helvetica font-medium text-black text-lg") 00
                                    p(dedlineTimerDaysText="", class="font-Helvetica font-medium text-black text-lg") дня
                                    div(class="flex items-center")
                                        p(dedlineTimerHours="", class="font-Helvetica font-medium text-black text-lg") 00
                                        p(class="font-Helvetica font-medium text-black text-lg") :
                                        p(dedlineTimerMinutes="", class="font-Helvetica font-medium text-black text-lg") 00
                                        p(class="font-Helvetica font-medium text-black text-lg") :
                                        p(dedlineTimerSeconds="", class="font-Helvetica font-medium text-black text-lg") 00
            div(class="container mx-auto")
                include ../../../../../pug/Components/_consultationCard.pug
            div(class="container mx-auto flex flex-col gap-8")
                h2(class="font-Helvetica font-semibold text-4xl text-black text-center") Популярные программы
                div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 slider-item-show4 slider-indicators-dark slider-nav-visible")
                    div(class="slider-container pb-1")
                        article(class="flex flex-col gap-2 group relative")
                            img(class="w-full aspect-16-9 rounded-lg", alt="картинка программы", src=`${path}/img/stub.jpg`)
                            p(class="font-Helvetica font-semibold text-lg text-black group-hover:text-primaryHover") Содержание искусственных сооружений
                            a(href="kartochka-programmy.html", class=" absolute inset-0 left-0 top-0")
                        article(class="flex flex-col gap-2 group relative")
                            img(class="w-full aspect-16-9 rounded-lg", alt="картинка программы", src=`${path}/img/stub.jpg`)
                            p(class="font-Helvetica font-semibold text-lg text-black group-hover:text-primaryHover") Содержание искусственных сооружений
                            a(href="kartochka-programmy.html", class=" absolute inset-0 left-0 top-0")
                        article(class="flex flex-col gap-2 group relative")
                            img(class="w-full aspect-16-9 rounded-lg", alt="картинка программы", src=`${path}/img/stub.jpg`)
                            p(class="font-Helvetica font-semibold text-lg text-black group-hover:text-primaryHover") Содержание искусственных сооружений
                            a(href="kartochka-programmy.html", class=" absolute inset-0 left-0 top-0")
                        article(class="flex flex-col gap-2 group relative")
                            img(class="w-full aspect-16-9 rounded-lg", alt="картинка программы", src=`${path}/img/stub.jpg`)
                            p(class="font-Helvetica font-semibold text-lg text-black group-hover:text-primaryHover") Содержание искусственных сооружений
                            a(href="kartochka-programmy.html", class=" absolute inset-0 left-0 top-0")
                    button(class="slider-nav", type="button")
                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    button(class="slider-nav slider-nav-next", type="button")
                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
    include ../../../../../pug/layout/_footer.pug