extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug
include ../../../../../pug/ui/_breadcrumbs.pug
include ../../../../../pug/ui/_directionCard.pug

block scripts
    - var path = "./local/templates/tcavtodor"
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/libs/imask/imask.js`)
    script(src=`${path}/modules/dialogMeneger.js`)
    script(src=`${path}/pages/katalog-napravlenij/js/index.js`)


block head
    - var path = "./local/templates/tcavtodor"
    link(rel="stylesheet", href=`${path}/css/style.css`)
    +head('Каталог "Направления обучения" - avtodor', '') 

block content
    - var authorization = true;
    +header(authorization)
    main(class="@container/body ")
        div(class="flex flex-col @xs/body:gap-16 @6xl/body:gap-32 @xs/body:mb-16 @6xl/body:mb-32 @xs/body:px-4 @8xl/body:px-0")
            div(class="container mx-auto flex flex-col gap-8 pt-10")
                -
                    var items = [
                        {
                            link: "index.html",
                            name: "Главная"
                        },
                        {
                            link: "kartochka-napravlenija.html",
                            name: "Каталог"
                        },
                    ]
                +breadcrumbs(items)
                h1(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black") Направления обучения
                div(class="@container/main")
                    div(class="grid @xs/body:grid-cols-full @lg/body:grid-cols-2 @6xl/body:grid-cols-3 gap-6 gap-y-10")
                        -
                            var items = [
                                {
                                    link: "kartochka-napravlenija.html",
                                    title: "Содержание искусственных сооружений",
                                    count: "7",
                                    src: `${path}/img/stub.jpg`
                                },
                                {
                                    link: "kartochka-napravlenija.html",
                                    title: "Содержание искусственных сооружений",
                                    count: "7",
                                    src: `${path}/img/stub.jpg`
                                },
                                {
                                    link: "kartochka-napravlenija.html",
                                    title: "Содержание искусственных сооружений",
                                    count: "7",
                                    src: `${path}/img/stub.jpg`
                                },
                                {
                                    link: "kartochka-napravlenija.html",
                                    title: "Содержание искусственных сооружений",
                                    count: "7",
                                    src: `${path}/img/stub.jpg`
                                },
                                {
                                    link: "kartochka-napravlenija.html",
                                    title: "Содержание искусственных сооружений",
                                    count: "7",
                                    src: `${path}/img/stub.jpg`
                                },
                                {
                                    link: "kartochka-napravlenija.html",
                                    title: "Содержание искусственных сооружений",
                                    count: "7",
                                    src: `${path}/img/stub.jpg`
                                },
                                {
                                    link: "kartochka-napravlenija.html",
                                    title: "Содержание искусственных сооружений",
                                    count: "7",
                                    src: `${path}/img/stub.jpg`
                                },
                                {
                                    link: "kartochka-napravlenija.html",
                                    title: "Содержание искусственных сооружений",
                                    count: "7",
                                    src: `${path}/img/stub.jpg`
                                },
                                {
                                    link: "kartochka-napravlenija.html",
                                    title: "Содержание искусственных сооружений",
                                    count: "7",
                                    src: `${path}/img/stub.jpg`
                                }
                            ]
                        +directionCard(items)
            div(class="container mx-auto")
                include ../../../../../pug/Components/_consultationCard.pug
    include ../../../../../pug/layout/_footer.pug