extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug
include ../../../../../pug/ui/_breadcrumbs.pug
include ../../../../../pug/ui/_productCard.pug

block scripts
    - var path = "./local/templates/tcavtodor"
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/libs/swiffy-slider-1.6.0/swiffy-slider.min.js`)
    script(src=`${path}/libs/imask/imask.js`)
    script(src=`${path}/pages/kartochka-napravlenija/js/index.js`, type="module")


block head
    - var path = "./local/templates/tcavtodor"
    link(rel="stylesheet", href=`${path}/libs/swiffy-slider-1.6.0/swiffy-slider.min.css`)
    link(rel="stylesheet", href=`${path}/css/style.css`)
    +head('Карточка направления - avtodor', '') 

block content
    - var authorization = true;
    +header(authorization)
    main(class="@container/body ")
        div(class="flex flex-col @xs/body:gap-16 @6xl/body:gap-32 @xs/body:mb-16 @6xl/body:mb-32 @xs/body:px-4 @8xl/body:px-0")
            div(class="container mx-auto flex flex-col gap-8 pt-10")
                -
                    var items = [
                        {
                            link: "index.html",
                            name: "Главная"
                        },
                        {
                            link: "katalog-napravlenij.html",
                            name: "Направления"
                        },
                        {
                            link: "#",
                            name: "Содержание искусственных сооружений"
                        },
                    ]
                +breadcrumbs(items)
                h1(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black") Содержание искусственных сооружений
                div(class="grid @xs/body:grid-cols-full @2xl/body:grid-cols-1fr-1fr gap-8")
                    img(class="rounded-lg w-full h-full aspect-16-9 object-cover", alt="Картинка", src=`${path}/img/stub.jpg`)
                    div(class="flex flex-col gap-6")
                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora dicta porro dolorum neque error quo quas cumque minima ad architecto non, corporis laudantium, voluptatum maiores distinctio a nisi doloremque nulla.
            div(class="container mx-auto flex flex-col gap-8")
                h2(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black text-center") Программы
                div(class="@container/main")
                    div(class="grid @xs/body:grid-cols-full @2xl/body:grid-cols-2 @4xl/body:grid-cols-3 @6xl/body:grid-cols-4 gap-6 gap-y-14")
                        -
                            var items = [
                                {
                                    link: "kartochka-programmy.html",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: ["Программа", "Базовый"]
                                },
                                {
                                    link: "kartochka-programmy.html",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: ["Программа", "Базовый"]
                                },
                                {
                                    link: "kartochka-programmy.html",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: ["Программа", "Базовый"]
                                },
                                {
                                    link: "kartochka-programmy.html",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: ["Программа", "Базовый"]
                                },
                                {
                                    link: "kartochka-programmy.html",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: ["Программа", "Базовый"]
                                },
                                {
                                    link: "kartochka-programmy.html",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: ["Программа", "Базовый"]
                                },
                                {
                                    link: "kartochka-programmy.html",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: ["Программа", "Базовый"]
                                },
                                {
                                    link: "kartochka-programmy.html",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: ["Программа", "Базовый"]
                                }
                            ]
                        +productCard(items)
            div(class="container mx-auto")
                include ../../../../../pug/Components/_consultationCard.pug
    include ../../../../../pug/layout/_footer.pug