extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug
include ../../../../../pug/ui/_breadcrumbs.pug
include ../../../../../pug/ui/_card2.pug
include ../../../../../pug/ui/_cardDocs.pug
include ../../../../../pug/ui/_userCard.pug


block scripts
    - var path = "./local/templates/tcavtodor"
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/libs/swiffy-slider-1.6.0/swiffy-slider.min.js`)
    script(src=`${path}/libs/imask/imask.js`)
    script(src=`${path}/modules/dialogMeneger.js`)
    script(src=`${path}/pages/kartochka-programmy/js/data.js`)
    script(src=`${path}/modules/dialogMeneger.js`)
    script(src=`${path}/modules/tabs.js`)
    script(src=`${path}/pages/kartochka-programmy/js/index.js`)


block head
    - var path = "./local/templates/tcavtodor"
    link(rel="stylesheet", href=`${path}/libs/swiffy-slider-1.6.0/swiffy-slider.min.css`)
    link(rel="stylesheet", href=`${path}/css/style.css`)
    +head('Карточка программы - avtodor', '') 

block content
    - var authorization = true;
    +header(authorization)
    main(class="@container/body")
        div(class="flex flex-col @xs/body:gap-16 @6xl/body:gap-32 @xs/body:mb-16 @6xl/body:mb-32 @xs/body:px-4 @8xl/body:px-0")
            div(class="container mx-auto flex flex-col gap-8 pt-10 @6xl/body:px-6 bg-lightGray rounded-b-lg py-8")
                -
                    var items = [
                        {
                            link: "index.html",
                            name: "Главная"
                        },
                        {
                            link: "katalog-napravlenij.html",
                            name: "Каталог"
                        },
                        {
                            link: "kartochka-napravlenija.html",
                            name: "Направления обучения"
                        },
                        {
                            link: "#",
                            name: "Текущие осмотры искусственных сооружений"
                        },
                    ]
                +breadcrumbs(items)
                h1(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black") Текущие осмотры искусственных сооружений
                div(class="grid @xs/body:grid-cols-full @2xl/body:grid-cols-1fr-1fr @xs/body:gap-4 @6xl/body:gap-16")
                    img(src=`${path}/img/stub.jpg`, class="w-full aspect-16-9 object-cover rounded-lg")
                    div(tariffsBlock="", class="grid @xs/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr @xs/body:gap-4 @6xl/body:gap-8")
                        div(tariffsBtns="", class="flex flex-wrap @xs/body:flex-row @6xl/body:flex-col gap-4 min-w-48")
                        div(class="flex flex-col gap-4 items-center")
                            div(tariffsBody="", class="bg-white rounded-lg p-6 flex flex-col gap-4 w-full")
                                div(class="flex flex-col gap-4 mt-auto")
                                    div(class="flex flex-col justify-between gap-2")
                                        div(class="relative flex gap-2 items-start justify-end w-full")
                                            p(tariffsPrise="", class="font-Montserrat font-semibold text-black text-2xl text-end") 0
                                            p(tariffsPriseDefoult="", class="font-Montserrat font-semibold text-black text-sm text-end align-super relative after:content-[''] after:absolute after:top-1/2 after:left-0 after:right-0 after:w-full after:bg-red-600 after:h-[.125rem] after:-rotate-12") 0
                                    button(type="button", class="rounded-lg bg-gradient-orange text-white font-Montserrat font-normal text-base text-center p-2 w-full") Оформить
                            a(href="#", class="font-Montserrat font-medium text-sm text-secondary hover:text-primaryHover flex gap-1 items-center group bg-white p-2 rounded-lg" ) 
                                | Для юр.лиц спец.предложения 
                                svg(width="18", height="18", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg" class="stroke-secondary group-hover:stroke-primaryHover")
                                    path(d="M8 24L24 8", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M11 8H24V21", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
            div(class="container mx-auto @6xl/body:px-6")
                div(tabBlock="", class="flex flex-col gap-4")
                    div(tabNav="", class="flex flex-wrap gap-4 items-center")
                        label(for="tab1", class=" cursor-pointer")
                            input(tab="1", id="tab1", type="radio", name="drone", class="hidden peer", checked) 
                            p(class="font-Montserrat font-medium text-secondary peer-checked:text-primary hover:text-primaryHover border-b border-b-secondary peer-checked:border-b-primary hover:border-b-primaryHover @xs/body:text-base @6xl/body:text-xl pb-1") О программе
                        label(for="tab2", class=" cursor-pointer")
                            input(tab="2",id="tab2", type="radio", name="drone", class="hidden peer") 
                            p(class="font-Montserrat font-medium text-secondary peer-checked:text-primary hover:text-primaryHover border-b border-b-secondary peer-checked:border-b-primary hover:border-b-primaryHover @xs/body:text-base @6xl/body:text-xl pb-1") Структура программы
                        label(for="tab4", class=" cursor-pointer")
                            input(tab="4", id="tab4", type="radio", name="drone", class="hidden peer") 
                            p(class="font-Montserrat font-medium text-secondary peer-checked:text-primary hover:text-primaryHover border-b border-b-secondary peer-checked:border-b-primary hover:border-b-primaryHover @xs/body:text-base @6xl/body:text-xl pb-1") Условия для слушателей
                    div(tabContent="1", class="grid @xs/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr @xs/body:gap-4 @6xl/body:gap-8")
                        div(class="flex flex-col gap-2")
                            p(class="font-Montserrat font-semibold text-black @xs/body:text-base @6xl/body:text-lg") 
                                | Доступность: 
                                span(class="font-medium ") 36 ак.часов.
                            p(class="font-Montserrat font-semibold text-black @xs/body:text-base @6xl/body:text-lg") 
                                | Период доступа: 
                                span(class="font-medium ") 1 мес.
                            p(class="font-Montserrat font-semibold text-black @xs/body:text-base @6xl/body:text-lg") 
                                | Подтверждающий документ: 
                                br
                                span(class="font-medium ") Удостоверение повышения квалификации.
                        div(class="flex flex-col gap-4")
                            p(class="font-Montserrat font-semibold text-black @xs/body:text-base @6xl/body:text-lg") Курс
                            ul(class="list-decimal pl-4")
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Общие сведения об искусственных сооружениях
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Комплексный подход к организации контроля состояния искусственных сооружений на всех этапах жизненного цикла
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Визуальный осмотр искусственных сооружений
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Организация работ по надзору и оценке технического состояния
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Оценка состояния и отчетная продукция
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Просмотр результатов и внесение текущих осмотров в Web-модуль АИС.
                    div(tabContent="2", class="hidden @xs/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr @xs/body:gap-4 @6xl/body:gap-8")
                        div(class="flex flex-col gap-2")
                            p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 
                                | 6 Курсов
                            p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 
                                | 20 тем.
                        div(class="flex flex-col gap-2")
                            ul(class="list-disc pl-4")
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Теоретическая часть
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Тестирование
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Практические задания
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Видео-уроки
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Презентационные материалы
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") 3D Практикум
                    div(tabContent="4", class="hidden @xs/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr @xs/body:gap-4 @6xl/body:gap-8")
                        div(class="flex flex-col gap-2")
                            ul(class="list-disc pl-4")
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Лица, имеющие высшее образование
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Лица, получающие высшее образование
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Лица, получившие среднее специальное образование
                        div(class="flex flex-col gap-4")
                            p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") Получение Удостоверения о повышении квалификации при предоставлении списка документов.
                            p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") Получение Сертификата о прохождении Программы без предоставления документов об обучении.
            div(class="container mx-auto flex flex-col gap-8 @6xl/body:px-6 bg-lightGray rounded-lg py-8  ")
                h2(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black text-center") Выберите тариф обучения
                div(class="@xs/body:overflow-x-scroll @6xl/body:overflow-auto")
                    table(class="@xs/body:w-[70rem] @6xl/body:w-full")
                        thead 
                            tr
                                th(class="w-1/4 p-4")
                                    p(class="font-Montserrat font-semibold text-black text-base text-start") Тарифы
                                th(class="w-1/4")
                                    p(class="font-Montserrat font-semibold text-black text-2xl") Базовый
                                th(class="w-1/4")
                                    p(class="font-Montserrat font-semibold text-black text-2xl") Профессиональный
                                th(class="w-1/4")
                                    p(class="font-Montserrat font-semibold text-black text-2xl") Экспертный
                        tbody 
                            tr(class="bg-primary/10")
                                td(class="w-1/4 p-4")
                                    p(class="font-Montserrat font-semibold text-black text-base") Наименование
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            tr
                                td(class="w-1/4 p-4")
                                    p(class="font-Montserrat font-semibold text-black text-base") Наименование
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            tr(class="bg-primary/10")
                                td(class="w-1/4 p-4")
                                    p(class="font-Montserrat font-semibold text-black text-base") Наименование
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            tr
                                td(class="w-1/4 p-4")
                                    p(class="font-Montserrat font-semibold text-black text-base") Наименование
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            tr(class="bg-primary/10")
                                td(class="w-1/4 p-4")
                                    p(class="font-Montserrat font-semibold text-black text-base") Наименование
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-red-400")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-miterlimit="10")
                                            path(d="M20 12L12 20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M20 20L12 12", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            tr
                                td(class="w-1/4 p-4")
                                    p(class="font-Montserrat font-semibold text-black text-base") Наименование
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-red-400")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-miterlimit="10")
                                            path(d="M20 12L12 20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M20 20L12 12", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            tr(class="bg-primary/10")
                                td(class="w-1/4 p-4")
                                    p(class="font-Montserrat font-semibold text-black text-base") Наименование
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-red-400")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-miterlimit="10")
                                            path(d="M20 12L12 20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M20 20L12 12", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-red-400")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-miterlimit="10")
                                            path(d="M20 12L12 20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M20 20L12 12", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            tr
                                td(class="w-1/4 p-4")
                                    p(class="font-Montserrat font-semibold text-black text-base") Наименование
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-red-400")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-miterlimit="10")
                                            path(d="M20 12L12 20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M20 20L12 12", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-red-400")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-miterlimit="10")
                                            path(d="M20 12L12 20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M20 20L12 12", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            tr(class="bg-primary/10")
                                td(class="w-1/4 p-4")
                                    p(class="font-Montserrat font-semibold text-black text-base") Наименование
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-red-400")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-miterlimit="10")
                                            path(d="M20 12L12 20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M20 20L12 12", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-red-400")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-miterlimit="10")
                                            path(d="M20 12L12 20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M20 20L12 12", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                td(class="p-4 w-1/4")
                                    div(class="w-full h-full flex flex-col justify-center items-center")
                                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-green-400")
                                            path(d="M21.5 13L14.1666 20L10.5 16.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            tr
                                td(class="w-1/4 p-4")
                                    p(class="font-Montserrat font-semibold text-black text-base") Стоимость
                                td(class="p-4 w-1/4")
                                    p(class="font-Montserrat font-semibold text-black text-2xl text-center w-full") 40000 ₽
                                td(class="p-4 w-1/4")
                                    p(class="font-Montserrat font-semibold text-black text-2xl text-center w-full") 49000 ₽
                                td(class="p-4 w-1/4")
                                    p(class="font-Montserrat font-semibold text-black text-2xl text-center w-full") 70000 ₽
                            tr
                                td(class="w-1/4 p-4")
                                td(class="p-4 w-1/4")
                                    button(type="button", class="rounded-lg bg-gradient-orange text-white font-Helvetica font-normal text-base p-2 px-4 w-full", tariffs="1") Оформить
                                td(class="p-4 w-1/4")
                                    button(type="button", class="rounded-lg bg-gradient-orange text-white font-Helvetica font-normal text-base p-2 px-4 w-full", tariffs="2") Оформить
                                td(class="p-4 w-1/4")
                                    button(type="button", class="rounded-lg bg-gradient-orange text-white font-Helvetica font-normal text-base p-2 px-4 w-full", tariffs="3") Оформить
            div(class="container mx-auto flex flex-col gap-20 @6xl/body:px-6")
                h2(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black text-center") Авторы программы
                div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                    div(class="slider-container pb-1")
                        -
                            var items = [
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                            ]
                        +userCard(items)
                    button(class="slider-nav", type="button")
                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    button(class="slider-nav slider-nav-next", type="button")
                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
            div(class="container mx-auto")
                include ../../../../../pug/Components/_consultationCard.pug
    include ../../../../../pug/layout/_footer.pug