extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug
include ../../../../../pug/ui/_cardDocs.pug

block scripts
    - var path = "./local/templates/tcavtodor"
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/libs/imask/imask.js`)
    script(src=`${path}/modules/dialogMeneger.js`)
    script(src=`${path}/pages/ob-uchebnom-centre/js/index.js`)


block head
    - var path = "./local/templates/tcavtodor"
    link(rel="stylesheet", href=`${path}/css/style.css`)
    +head('Об учебном центре - avtodor', '') 

block content
    - var authorization = true;
    +header(authorization)
    main(class="@container/body")
        div(class="flex flex-col @xs/body:gap-16 @6xl/body:gap-32 @xs/body:mb-16 @6xl/body:mb-32 @xs/body:px-4 @8xl/body:px-0")
            div(class="container mx-auto flex flex-col gap-8 pt-10 @6xl/body:px-6")
                h1(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black") Об учебном центре
                div(class="grid @xl/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr gap-8")
                    img(class="w-full aspect-16-9 object-cover rounded-lg", alt="лого", src=`${path}/img/other/thumb__1920_1080_0_0_auto.jpg`)
                    div(class="flex flex-col gap-4")
                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:textlg text-black") Государственной компании «Автодор» создан на базе ООО «Автодор-Инжиниринг» 01 сентября 2023 года
            div(class="container mx-auto flex flex-col @xs/body:gap-16 @6xl/body:gap-32 bg-lightGray rounded-lg py-8")
                div(class="flex flex-col @6xl/body:px-6")
                    div(class="grid @xl/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr gap-8")
                        div(class="flex flex-col gap-6")
                            h2(class="font-Montserrat font-semibold text-3xl text-black") Миссия
                            p(class="font-Montserrat font-medium text-base text-black") Распространение передового опыта проектирования, строительства и эксплуатации скоростных автомагистралей с применением новых и эффективных материалов и технологий
                        img(src=`${path}/img/stub.jpg`, class="rounded-lg w-full h-full aspect-16-9 object-cover")
                div(class="flex flex-col @6xl/body:px-6")
                    div(class="grid @xl/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr gap-8")
                        img(src=`${path}/img/stub.jpg`, class="rounded-lg w-full h-full aspect-16-9 object-cover @xs/body:order-2 @6xl/body:order-none")
                        div(class="flex flex-col gap-6 @xs/body:order-1 @6xl/body:order-none")
                            h2(class="font-Montserrat font-semibold text-3xl text-black") Цель
                            p(class="font-Montserrat font-medium text-base text-black") Системное повышение квалификации работников дорожной отрасли на основе трансформации передового опыта Государственной компании «Автодор» в постоянно актуализируемые учебные материалы
            div(class="container mx-auto flex flex-col @6xl/body:px-6 ")
                div(class="grid @xl/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr gap-8")
                    div(class="flex flex-col gap-6")
                        h2(class="font-Montserrat font-semibold text-3xl text-black") Задачи
                        div(class="flex flex-col gap-2")
                            ul(class="list-disc pl-4")
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Формирование и актуализация учебных программ по практике применения инновационных и эффективных материалов, конструкций, технологий и оборудования, а также программного обеспечения с учётом растущего импортозамещения
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Согласование учебных программ с ведущими профильными вузами с целью выдачи прошедшим обучение удостоверения о повышении квалификации на бланке ВУЗа с внесением записи в Федеральный реестр сведений о документах об образовании
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Размещение учебных материалов на данном сайте собственной системы дистанционного обучения, развитие функционала образовательной платформы и её техническая поддержка для реализации возможности прохождения обучения в формате 24/7
                                li(class=" marker:text-primary")
                                    p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Продвижение образовательных услуг Учебного центра в информационном онлайн пространстве, а также на профильных форумах и конференциях дорожной отрасли
                    img(src=`${path}/img/stub.jpg`, class="rounded-lg w-full h-full aspect-16-9 object-cover")
            div(class="container mx-auto flex flex-col @6xl/body:px-6")
                div(class="rounded-lg grid @xl/body:grid-cols-full @6xl/body:grid-cols-2 gap-8 bg-lightGray p-4")
                    -
                        var items = [
                            {
                                type: "pdf",
                                link: "#",
                                name: "Общие сведения об искусственных сооружениях",
                            },
                            {
                                type: "doc",
                                link: "#",
                                name: "Общие сведения об искусственных сооружениях",
                            },
                            {
                                type: "xlsx",
                                link: "#",
                                name: '100.10.3 Динамические испытания',
                            },
                        ]
                    +cardDocs(items)
            div(class="container mx-auto")
                include ../../../../../pug/Components/_consultationCard.pug
    include ../../../../../pug/layout/_footer.pug