mixin multipleSelect(trigger = "", values = [], status = "")
    - var path = "./local/templates/nmigroup"
    - var className = "border rounded-md h-full py-2 px-3 relative group-focus:border-success-600 group-focus:shadow-custom-8 min-w-52"
    if status == 'error' 
        - className = className + " border-error-400 bg-white"
    else if status == 'disabled' 
        - className = className + " border-gray-400 disabled bg-[#f6f6f7]"
    else 
        - className = className + " bg-white"
    div(class="group")
        div(class=className, data-multipleSelect=trigger)
            div(listInput='',class="flex gap-2 justify-between items-center cursor-pointer max-w-64")
                p(class="font-inter font-normal text-base leading-[1.5] w-calc-input text-gray-600 line-clamp-2 overflow-hidden", data-value=`${values[0].id}`)
                - var classIcons = "w-4 h-4 object-contain transition-all "
                if status == 'disabled' 
                    - classIcons = classIcons + " icon-filter-gray-200"
                else
                    - classIcons = classIcons + " icon-filter-success-500"
                img(src=`${path}/img/icons/CaretDown.svg`, class=classIcons, list-btn='', alt="Иконка")
            div(class="absolute left-0 w-full overflow-hidden h-0 top-full z-[110]", list='')
                div(listBlock='', class="flex flex-col gap-2 bg-white shadow-md rounded-lg border border-gray-100 py-2 max-h-80 overflow-y-auto custom-scrollbar mt-[1px]")
                    each val, index in values
                        div(class="group/item")
                            div(class="flex justify-between items-center transition transition-timing-productive duration-300 group-hover/item:bg-[#f6f6f7] py-2 px-3 cursor-pointer", data-value=val.id)
                                p(multipleSelectVal='', class="font-inter font-normal text-base leading-[1.5] text-gray-600") #{val.name}
                                img(src=`${path}/img/icons/check.svg`, alt="иконка", class="w-5 h-5 object-contain icon-filter-success-500 hidden")