mixin NewsCards(items)
    - var path = "./local/templates/nmigroup"
    each item, index in items
        div(class="group")
            div(newCard="",class="flex flex-col gap-4 p-4 border border-solid border-gray-200 rounded-2xl bg-white group-hover:border-success-500 group-hover:bg-success-50")
                div(class="rounded-lg shadow-custom-3 w-fit overflow-hidden")
                    img(src=item.src, alt="иконка", class="w-full h-full xs:object-cover lg:object-contain xs:aspect-16-6 sm:aspect-16-7 md:aspect-16-8 lg:aspect-none")
                div(class="flex flex-col xs:gap-5 sm:gap-4 md:gap-5")
                    div(class="flex flex-col gap-3")
                        div(class="flex gap-4")
                            div(class="flex gap-2 items-center")
                                img(src=`${path}/img/icons/ic_Календарь тренингов.svg`, alt="иконка", class="w-6 h-6 object-contain icon-filter-gray-400")
                                p(class="font-inter font-normal text-sm leading-[1.7] text-gray-400 ") #{item.date}
                            div(class="flex gap-2 items-center")
                                    img(src=`${path}/img/icons/ListBullets.svg`, alt="иконка", class="w-6 h-6 object-contain icon-filter-success-500")
                                    p(newCardTag="", class="font-inter font-normal text-sm leading-[1.7] text-success-500 ") #{item.tag}
                        a(newCardTitle="", href=item.link, class="font-inter text-base font-medium text-gray-600 line-clamp-2 xs:h-12 sm:h-auto md:h-12 group-hover:text-success-600") #{item.title}
                    div(class="flex gap-6")
                        div(class="flex gap-2 cursor-pointer")
                            img(src=`${path}/img/icons/ThumbsUp.svg`, alt="иконка", class="w-6 h-6 object-contain icon-filter-gray-400 group-hover:icon-filter-gray-600")
                            p(class="font-inter font-semibold text-sm leading-[1.7] text-gray-400 group-hover:text-gray-600") #{item.like}
                        div(class="flex gap-2 cursor-pointer")
                            img(src=`${path}/img/icons/eye.svg`, alt="иконка", class="w-6 h-6 object-contain icon-filter-gray-400 group-hover:icon-filter-gray-600")
                            p(class="font-inter font-semibold text-sm leading-[1.7] text-gray-400 group-hover:text-gray-600") #{item.view}
