extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug
include ../../../../../pug/ui/_cardDocs.pug
include ../../../../../pug/ui/_stages.pug
include ../../../../../pug/ui/_reviewCard.pug
include ../../../../../pug/ui/_productCard.pug


block scripts
    - var path = "./local/templates/tcavtodor"
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/libs/swiffy-slider-1.6.0/swiffy-slider.min.js`)
    script(src=`${path}/libs/imask/imask.js`)
    script(src=`${path}/pages/slushateljam/js/index.js`, type="module")


block head
    - var path = "./local/templates/tcavtodor"
    link(rel="stylesheet", href=`${path}/libs/swiffy-slider-1.6.0/swiffy-slider.min.css`)
    link(rel="stylesheet", href=`${path}/css/style.css`)
    +head('Карта сайта - avtodor', '') 

block content
    - var authorization = true;
    +header(authorization)
    main(class="@container/body  @xs:px-4 @8xl:px-0")
        div(class="flex flex-col gap-32 mb-32")
            div(class="container mx-auto flex flex-col gap-8 pt-10")
                h1(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black") Карта сайта
                div(class="flex flex-col gap-20")
                    div(class="grid @xs/body:grid-cols-full @2xl/body:grid-cols-2 @6xl/body:grid-cols-4 gap-8 gap-y-10")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class=" stroke-black")
                                path(d="M9 12.5H4C3.44772 12.5 3 12.9477 3 13.5V18.5C3 19.0523 3.44772 19.5 4 19.5H9C9.55228 19.5 10 19.0523 10 18.5V13.5C10 12.9477 9.55228 12.5 9 12.5Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M27 5H21C20.4477 5 20 5.44772 20 6V12C20 12.5523 20.4477 13 21 13H27C27.5523 13 28 12.5523 28 12V6C28 5.44772 27.5523 5 27 5Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M27 19H21C20.4477 19 20 19.4477 20 20V26C20 26.5523 20.4477 27 21 27H27C27.5523 27 28 26.5523 28 26V20C28 19.4477 27.5523 19 27 19Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M10 16H15", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M20 23H18C17.2044 23 16.4413 22.6839 15.8787 22.1213C15.3161 21.5587 15 20.7956 15 20V12C15 11.2044 15.3161 10.4413 15.8787 9.87868C16.4413 9.31607 17.2044 9 18 9H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium text-base text-black") Главная страница.
                            a(href="index.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class=" stroke-black")
                                path(d="M9 12.5H4C3.44772 12.5 3 12.9477 3 13.5V18.5C3 19.0523 3.44772 19.5 4 19.5H9C9.55228 19.5 10 19.0523 10 18.5V13.5C10 12.9477 9.55228 12.5 9 12.5Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M27 5H21C20.4477 5 20 5.44772 20 6V12C20 12.5523 20.4477 13 21 13H27C27.5523 13 28 12.5523 28 12V6C28 5.44772 27.5523 5 27 5Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M27 19H21C20.4477 19 20 19.4477 20 20V26C20 26.5523 20.4477 27 21 27H27C27.5523 27 28 26.5523 28 26V20C28 19.4477 27.5523 19 27 19Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M10 16H15", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M20 23H18C17.2044 23 16.4413 22.6839 15.8787 22.1213C15.3161 21.5587 15 20.7956 15 20V12C15 11.2044 15.3161 10.4413 15.8787 9.87868C16.4413 9.31607 17.2044 9 18 9H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium text-base text-black") Главная страница. (серая подложка)
                            a(href="index2.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class=" stroke-black ")
                                path(d="M5 22V9C5 8.46957 5.21071 7.96086 5.58579 7.58579C5.96086 7.21071 6.46957 7 7 7H25C25.5304 7 26.0391 7.21071 26.4142 7.58579C26.7893 7.96086 27 8.46957 27 9V22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M3 22H29V24C29 24.5304 28.7893 25.0391 28.4142 25.4142C28.0391 25.7893 27.5304 26 27 26H5C4.46957 26 3.96086 25.7893 3.58579 25.4142C3.21071 25.0391 3 24.5304 3 24V22Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M18 11H14", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium text-base text-black") Направления обучения
                            a(href="katalog-napravlenij.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class=" stroke-black ")
                                path(d="M5 8.5H27", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M5 13.5H21", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M5.00073 18.5H27", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M5.00073 23.5H21", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")

                            p(class="font-Montserrat font-medium text-base text-black") Карточка направления
                            a(href="kartochka-napravlenija.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-black")
                                path(d="M12 12H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M12 16H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M12 20H16", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M19.5858 27H6C5.73478 27 5.48043 26.8946 5.29289 26.7071C5.10536 26.5196 5 26.2652 5 26V6C5 5.73478 5.10536 5.48043 5.29289 5.29289C5.48043 5.10536 5.73478 5 6 5H26C26.2652 5 26.5196 5.10536 26.7071 5.29289C26.8946 5.48043 27 5.73478 27 6V19.5858C27 19.7171 26.9741 19.8471 26.9239 19.9685C26.8736 20.0898 26.8 20.2 26.7071 20.2929L20.2929 26.7071C20.2 26.8 20.0898 26.8736 19.9685 26.9239C19.8471 26.9741 19.7171 27 19.5858 27V27Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M26.9095 19.999H20V26.909", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")

                            p(class="font-Montserrat font-medium text-base text-black") Карточка программы
                            a(href="kartochka-programmy.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-black")
                                path(d="M3.00024 12H29.0002L16.0002 4L3.00024 12Z", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M7.00031 12V22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M13.0003 12V22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M19.0003 12V22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M25.0003 12V22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M4.00031 22H28.0003", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M2.00031 26H30.0003", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")

                            p(class="font-Montserrat font-medium text-base text-black") Об учебном центре
                            a(href="ob-uchebnom-centre.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-black")
                                path(d="M12 19H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M12 15H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M20.0002 5H25C25.2652 5 25.5196 5.10536 25.7071 5.29289C25.8946 5.48043 26 5.73478 26 6V27C26 27.2652 25.8946 27.5196 25.7071 27.7071C25.5196 27.8946 25.2652 28 25 28H7C6.73478 28 6.48043 27.8946 6.29289 27.7071C6.10536 27.5196 6 27.2652 6 27V6C6 5.73478 6.10536 5.48043 6.29289 5.29289C6.48043 5.10536 6.73478 5 7 5H11.9997", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M11 9V8C11 6.67392 11.5268 5.40215 12.4645 4.46447C13.4021 3.52678 14.6739 3 16 3C17.3261 3 18.5979 3.52678 19.5355 4.46447C20.4732 5.40215 21 6.67392 21 8V9H11Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium text-base text-black") Контакты
                            a(href="kontakty.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-black")
                                path(d="M4 8V18", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M6.77899 26.9999C7.77833 25.4648 9.1451 24.2035 10.7553 23.3304C12.3655 22.4573 14.1683 22 16 22C17.8317 22 19.6344 22.4573 21.2446 23.3304C22.8549 24.2035 24.2216 25.4648 25.221 26.9999", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M28 8L16 12L4 8L16 4L28 8Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M21.1671 10.2776C22.083 11.2798 22.6878 12.5267 22.9076 13.8665C23.1275 15.2062 22.953 16.581 22.4053 17.8234C21.8577 19.0657 20.9606 20.122 19.8234 20.8636C18.6861 21.6052 17.3577 22 16 22C14.6423 22 13.3139 21.6052 12.1766 20.8636C11.0394 20.122 10.1423 19.0657 9.59467 17.8234C9.04705 16.581 8.87254 15.2062 9.09239 13.8665C9.31224 12.5267 9.91696 11.2798 10.8329 10.2776", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium text-base text-black") Слушателям
                            a(href="slushateljam.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-black")
                                path(d="M16 22.5C18.7614 22.5 21 20.2614 21 17.5C21 14.7386 18.7614 12.5 16 12.5C13.2386 12.5 11 14.7386 11 17.5C11 20.2614 13.2386 22.5 16 22.5Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M24.5 14.5C25.6645 14.499 26.8131 14.7696 27.8547 15.2903C28.8963 15.811 29.8021 16.5674 30.5001 17.4995", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M1.49963 17.4997C2.19769 16.5676 3.10351 15.8111 4.14513 15.2904C5.18675 14.7697 6.33546 14.499 7.49999 14.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M8.80432 26.9999C9.46122 25.6506 10.4842 24.5133 11.7566 23.7176C13.0289 22.9219 14.4994 22.5 16 22.5C17.5007 22.5 18.9711 22.9219 20.2434 23.7176C21.5158 24.5132 22.5388 25.6506 23.1957 26.9998", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M7.49999 14.5C6.74103 14.4999 5.99779 14.2838 5.35703 13.8771C4.71627 13.4703 4.20445 12.8897 3.88134 12.2029C3.55823 11.5162 3.43716 10.7517 3.53227 9.99874C3.62737 9.24577 3.93474 8.5354 4.41846 7.95057C4.90218 7.36575 5.5423 6.93061 6.26407 6.69597C6.98584 6.46133 7.75947 6.43687 8.49462 6.62544C9.22978 6.81402 9.89611 7.20786 10.4158 7.76096C10.9355 8.31406 11.2871 9.0036 11.4296 9.74905", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M20.5703 9.74907C20.7127 9.00349 21.0643 8.31382 21.584 7.7606C22.1038 7.20738 22.7702 6.81344 23.5054 6.62479C24.2406 6.43614 25.0144 6.46056 25.7362 6.69521C26.4581 6.92985 27.0983 7.36504 27.5821 7.94994C28.0659 8.53484 28.3733 9.24531 28.4684 9.99838C28.5635 10.7515 28.4424 11.516 28.1192 12.2029C27.796 12.8897 27.2841 13.4704 26.6432 13.8771C26.0024 14.2839 25.259 14.4999 24.4999 14.4999", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium text-base text-black") Для юридических лиц
                            a(href="dlja-jur-lic.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-black")
                                path(d="M27.001 9H5.00098C4.44869 9 4.00098 9.44772 4.00098 10V26C4.00098 26.5523 4.44869 27 5.00098 27H27.001C27.5533 27 28.001 26.5523 28.001 26V10C28.001 9.44772 27.5533 9 27.001 9Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M21 9V7C21 6.46957 20.7893 5.96086 20.4142 5.58579C20.0391 5.21071 19.5304 5 19 5H13C12.4696 5 11.9609 5.21071 11.5858 5.58579C11.2107 5.96086 11 6.46957 11 7V9", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M28.001 15.7887C24.3539 17.8988 20.2136 19.0067 16 19.0001C11.7872 19.0067 7.64755 17.8991 4.00085 15.7898", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M14.5 15H17.5", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium text-base text-black") Стать партнером
                            a(href="partneram.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg" class="stroke-black")
                                path(d="M28 22.1653V9.83496C28 9.65752 27.9528 9.48328 27.8632 9.33012C27.7736 9.17695 27.6449 9.05038 27.4903 8.96339L16.4903 2.77589C16.3406 2.69169 16.1717 2.64746 16 2.64746C15.8283 2.64746 15.6594 2.69169 15.5097 2.77589L4.50974 8.96339C4.35509 9.05038 4.22637 9.17695 4.13679 9.33012C4.04721 9.48328 4 9.65752 4 9.83496V22.1653C4 22.3427 4.04721 22.5169 4.13679 22.6701C4.22637 22.8233 4.35509 22.9499 4.50974 23.0368L15.5097 29.2243C15.6594 29.3085 15.8283 29.3528 16 29.3528C16.1717 29.3528 16.3406 29.3085 16.4903 29.2243L27.4903 23.0368C27.6449 22.9499 27.7736 22.8233 27.8632 22.6701C27.9528 22.5169 28 22.3427 28 22.1653Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M27.8621 9.32827L16.1186 16L4.1385 9.32715", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M16.1186 16L16.0013 29.3527", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium text-base text-black") 3D Практикум
                            a(href="3d-praktikum.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class=" stroke-black")
                                path(d="M3.00024 12H29.0002L16.0002 4L3.00024 12Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M7.00031 12V22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M13.0003 12V22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M19.0003 12V22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M25.0003 12V22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M4.00031 22H28.0003", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M2.00031 26H30.0003", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium text-base text-black") Удостоверение гос.образца
                            a(href="udostoverenie-gos.obrazca.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-black")
                                path(d="M19 14H24", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M19 18H24", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M11.5126 18C13.1694 18 14.5126 16.6569 14.5126 15C14.5126 13.3431 13.1694 12 11.5126 12C9.85572 12 8.51257 13.3431 8.51257 15C8.51257 16.6569 9.85572 18 11.5126 18Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M7.63855 20.9999C7.86049 20.1413 8.36141 19.3807 9.0626 18.8377C9.76379 18.2947 10.6255 18 11.5124 18C12.3992 18 13.261 18.2946 13.9622 18.8375C14.6634 19.3805 15.1644 20.141 15.3864 20.9997", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M27 6H5C4.44772 6 4 6.44772 4 7V25C4 25.5523 4.44772 26 5 26H27C27.5523 26 28 25.5523 28 25V7C28 6.44772 27.5523 6 27 6Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium text-base text-black") Эксперты
                            a(href="jeksperty.html", class="absolute inset-0 top-0 left-0 ")
                        div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-black")
                                path(d="M28 26H4V6", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M26.0002 8L16.0002 18L12.0002 14L4.00024 22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M26.0002 13V8H21.0002", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium text-base text-black") Спец.предложения
                            a(href="spec.predlozhenija.html", class="absolute inset-0 top-0 left-0 ")
                    div(class="flex flex-col gap-10")
                        h2(class="font-Montserrat font-semibold text-3xl text-black") Отложили
                        div(class="grid @xs/body:grid-cols-full @2xl/body:grid-cols-2 @6xl/body:grid-cols-4 gap-8 gap-y-10")
                            div(class="flex flex-col gap-2 relative rounded-lg shadow-md p-4 group border border-transparent hover:border-secondary")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-black")
                                    path(d="M12 14H22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M12 18H22", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M4 25C4.53043 25 5.03914 24.7893 5.41421 24.4142C5.78929 24.0391 6 23.5304 6 23V8C6 7.73478 6.10536 7.48043 6.29289 7.29289C6.48043 7.10536 6.73478 7 7 7H27C27.2652 7 27.5196 7.10536 27.7071 7.29289C27.8946 7.48043 28 7.73478 28 8V23C28 23.5304 27.7893 24.0391 27.4142 24.4142C27.0391 24.7893 26.5304 25 26 25H4Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M4 25C3.46957 25 2.96086 24.7893 2.58579 24.4142C2.21071 24.0391 2 23.5304 2 23V11", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                p(class="font-Montserrat font-medium text-base text-black") Новости
                                a(href="news.html", class="absolute inset-0 top-0 left-0 ")
    include ../../../../../pug/layout/_footer.pug