extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug
include ../../../../../pug/ui/_breadcrumbs.pug
include ../../../../../pug/ui/_productCard.pug

block scripts
    - var path = "./local/templates/tcavtodor"
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/pages/katalog-programm/js/index.js`, type="module")


block head
    - var path = "./local/templates/tcavtodor"
    link(rel="stylesheet", href=`${path}/css/style.css`)
    +head('Каталог "Программ" - avtodor', '') 

block content
    - var authorization = true;
    +header(authorization)
    main(class="")
        div(class="flex flex-col gap-32 mb-32")
            div(class="container mx-auto flex flex-col gap-8 pt-10")
                -
                    var items = [
                        {
                            link: "#",
                            name: "Главная"
                        },
                        {
                            link: "#",
                            name: "Каталог"
                        },
                        {
                            link: "#",
                            name: "Содержание искусственных сооружений"
                        },
                    ]
                +breadcrumbs(items)
                h1(class="font-Helvetica font-semibold text-4xl text-black") Программы
                div(class="@container/main")
                    div(class="grid @xs/main:grid-cols-full @md/main:grid-cols-3 @xl:grid-cols-4 gap-6")
                        -
                            var items = [
                                {
                                    link: "#",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: "курс"
                                },
                                {
                                    link: "#",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: "курс"
                                },
                                {
                                    link: "#",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: "курс"
                                },
                                {
                                    link: "#",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: "курс"
                                },
                                {
                                    link: "#",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: "курс"
                                },
                                {
                                    link: "#",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: "курс"
                                },
                                {
                                    link: "#",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: "курс"
                                },
                                {
                                    link: "#",
                                    title: "Содержание искусственных сооружений",
                                    time: "72",
                                    src: `${path}/img/stub.jpg`,
                                    prise: '40 000',
                                    category: "курс"
                                }
                            ]
                        +productCard(items)
            div(class="container mx-auto")
                include ../../../../../pug/Components/_consultationCard.pug
    include ../../../../../pug/layout/_footer.pug