extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug
include ../../../../../pug/ui/_stages.pug
include ../../../../../pug/ui/_cardDocs.pug

block scripts
    - var path = "./local/templates/tcavtodor"
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/libs/imask/imask.js`)
    script(src=`${path}/pages/partneram/js/index.js`, type="module")


block head
    - var path = "./local/templates/tcavtodor"
    link(rel="stylesheet", href=`${path}/css/style.css`)
    +head('Партнерам - avtodor', '') 

block content
    - var authorization = true;
    +header(authorization)
    main(class="@container/body")
        div(class="flex flex-col @xs/body:gap-16 @6xl/body:gap-32 @xs/body:mb-16 @6xl/body:mb-32 @xs/body:px-4 @8xl/body:px-0")
            div(class="container mx-auto flex flex-col gap-8 pt-10")
                h1(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black") Стать партнером
                div(class="grid @xs/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr gap-8")
                    img(class="rounded-lg w-full h-full aspect-16-9 object-cover", alt="Картинка", src=`${path}/img/stub.jpg`)
                    div(class="flex flex-col gap-6")
                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio fugit, ut minus aspernatur modi ab aliquid repellat animi aperiam ipsa pariatur illo, laboriosam quod rem eveniet et facilis culpa.
            div(class="container mx-auto flex flex-col gap-8")
                h2(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black text-center") Этапы сотрудничества
                div(class="flex @xs/body:flex-col @4xl/body:flex-row gap-3 justify-center @6xl/body:zoom-150")
                    article(class="flex @4xl/body:flex-col gap-4 @xs/body:justify-center @4xl/body:justify-normal @xs/body:items-center @4xl/body:items-start relative")
                        svg(width="150", height="125", xmlns="http://www.w3.org/2000/svg", xmlns:svg="http://www.w3.org/2000/svg", class=" drop-shadow-lg")
                            g(class="layer", id="svg_3")
                                path(d="m2.33,1.48l109.12,0l36.37,60.75l-36.37,60.75l-109.12,0l36.37,-60.75l-36.37,-60.75z", fill="white", id="svg_1", stroke="#000000")
                                text(fill="#fd7e14", font-size="45.22", id="svg_2", text-anchor="middle", transform="matrix(1.19755 0 0 1 -0.460285 0)", x="65.5", xml:space="preserve", y="75.59", class="font-Montserrat font-medium") 1
                        p(class="font-Montserrat font-medium text-sm text-black w-36 text-balance pl-2") Отправить заявку на партнерство
                    article(class="flex @4xl/body:flex-col gap-4 @xs/body:justify-center @4xl/body:justify-normal @xs/body:items-center @4xl/body:items-start relative")
                        svg(width="150", height="125", xmlns="http://www.w3.org/2000/svg", xmlns:svg="http://www.w3.org/2000/svg", class=" drop-shadow-lg")
                            g(class="layer", id="svg_3")
                                path(d="m2.33,1.48l109.12,0l36.37,60.75l-36.37,60.75l-109.12,0l36.37,-60.75l-36.37,-60.75z", fill="white", id="svg_1", stroke="#000000")
                                text(fill="#fd7e14", font-size="45.22", id="svg_2", text-anchor="middle", transform="matrix(1.19755 0 0 1 -0.460285 0)", x="65.5", xml:space="preserve", y="75.59", class="font-Montserrat font-medium") 2
                        p(class="font-Montserrat font-medium text-sm text-black w-36 text-balance pl-2") Заключить договор
                    article(class="flex @4xl/body:flex-col gap-4 @xs/body:justify-center @4xl/body:justify-normal @xs/body:items-center @4xl/body:items-start relative")
                        svg(width="150", height="125", xmlns="http://www.w3.org/2000/svg", xmlns:svg="http://www.w3.org/2000/svg", class=" drop-shadow-lg")
                            g(class="layer", id="svg_3")
                                path(d="m2.33,1.48l109.12,0l36.37,60.75l-36.37,60.75l-109.12,0l36.37,-60.75l-36.37,-60.75z", fill="white", id="svg_1", stroke="#000000")
                                text(fill="#fd7e14", font-size="45.22", id="svg_2", text-anchor="middle", transform="matrix(1.19755 0 0 1 -0.460285 0)", x="65.5", xml:space="preserve", y="75.59", class="font-Montserrat font-medium") 3
                        p(class="font-Montserrat font-medium text-sm text-black w-36 text-balance pl-2") Предоставляем доступ к обучающей платформе
                    article(class="flex @4xl/body:flex-col gap-4 @xs/body:justify-center @4xl/body:justify-normal @xs/body:items-center @4xl/body:items-start relative")
                        svg(width="150", height="125", xmlns="http://www.w3.org/2000/svg", xmlns:svg="http://www.w3.org/2000/svg", class=" drop-shadow-lg")
                            g(class="layer", id="svg_3")
                                path(d="m2.33,1.48l109.12,0l36.37,60.75l-36.37,60.75l-109.12,0l36.37,-60.75l-36.37,-60.75z", fill="white", id="svg_1", stroke="#000000")
                                text(fill="#fd7e14", font-size="45.22", id="svg_2", text-anchor="middle", transform="matrix(1.19755 0 0 1 -0.460285 0)", x="65.5", xml:space="preserve", y="75.59", class="font-Montserrat font-medium") 4
                        p(class="font-Montserrat font-medium text-sm text-black w-36 text-balance pl-2") Взаиморасчет
                    article(class="flex @4xl/body:flex-col gap-4 @xs/body:justify-center @4xl/body:justify-normal @xs/body:items-center @4xl/body:items-start relative")
                        svg(width="150", height="125", xmlns="http://www.w3.org/2000/svg", xmlns:svg="http://www.w3.org/2000/svg", class=" drop-shadow-lg")
                            g(class="layer", id="svg_3")
                                path(d="m2.33,1.48l109.12,0l36.37,60.75l-36.37,60.75l-109.12,0l36.37,-60.75l-36.37,-60.75z", fill="white", id="svg_1", stroke="#000000")
                                text(fill="#fd7e14", font-size="45.22", id="svg_2", text-anchor="middle", transform="matrix(1.19755 0 0 1 -0.460285 0)", x="65.5", xml:space="preserve", y="75.59", class="font-Montserrat font-medium") 5
                        p(class="font-Montserrat font-medium text-sm text-black w-36 text-balance pl-2") Выдача Удостоверение о повышении квалификации Представителем
                button(dialog-btn="bid", type="button", class="bg-gradient-orange text-white rounded-lg p-4 px-8 text-xl w-max mx-auto") Оставить заявку
            div(class="container mx-auto flex flex-col gap-8")
                h2(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black text-center") Выгоды для партнеров работы с УЦ
                div(class="grid @xs/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr gap-8")
                    div(class="flex flex-col gap-4 pt-4  ")
                        div(class="flex gap-4 items-center")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-primary shrink-0")
                                path(d="M27 9.00061L13 23L6 16.0006", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Размещаем информацию о партнёрстве на сайте УЦ
                        div(class="flex gap-4 items-center")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-primary shrink-0")
                                path(d="M27 9.00061L13 23L6 16.0006", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Обучаем продукту
                        div(class="flex gap-4 items-center")
                            svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-primary shrink-0")
                                path(d="M27 9.00061L13 23L6 16.0006", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Обеспечиваем маркетинговую поддержку продаж
                    img(class="rounded-lg w-full h-full aspect-16-9 object-cover", alt="Картинка", src=`${path}/img/stub.jpg`)
            div(class="container mx-auto grid @xs/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr gap-8")
                img(class="rounded-lg w-full h-full aspect-16-9 object-cover", alt="Картинка", src=`${path}/img/stub.jpg`)
                div(class="flex flex-col gap-6")
                    h2(class="font-Montserrat font-semibold text-3xl text-black") Готовы начать сотрудничество?
                    div(class="flex flex-col gap-4")
                        p(class="font-Montserrat font-medium text-base text-black") Мы подготовили шаблон документа, которы сделает процесс партнерства максимально удобным и прозрачным. Оформляйте соглашения легко и быстро!
                            -
                                var items = [
                                    {
                                        type: "pdf",
                                        link: "#",
                                        name: `Шаблон договора`,
                                    }
                                ]
                            +cardDocs(items)
                        p(class="font-Montserrat font-medium text-base text-black") Ознакомьтесь с нашим полным списком программ, которые помогут вам стать успешным партнером.
                            -
                                var items = [
                                    {
                                        type: "pdf",
                                        link: "#",
                                        name: `Список программ`,
                                    },
                                ]
                            +cardDocs(items)
                    div(class="flex flex-col gap-4")
                    button(dialog-btn="bid", type="button", class="bg-gradient-orange text-white rounded-lg p-4 px-6 text-xl w-max mt-auto ml-auto") Оставить заявку
    include ../../../../../pug/layout/_footer.pug