extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug
include ../../../../../pug/ui/_stages.pug


block scripts
    - var path = "./local/templates/tcavtodor"
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/libs/imask/imask.js`)
    script(src=`${path}/modules/dialogMeneger.js`)
    script(src=`${path}/modules/dedlineTimer.js`)
    script(src=`${path}/pages/dlja-jur-lic/js/index.js`)


block head
    - var path = "./local/templates/tcavtodor"
    link(rel="stylesheet", href=`${path}/css/style.css`)
    +head('Для юридических лиц - avtodor', '') 

block content
    - var authorization = true;
    +header(authorization)
    main(class="@container/body ")
        div(class="flex flex-col @xs/body:gap-16 @6xl/body:gap-32 @xs/body:mb-16 @6xl/body:mb-32 @xs/body:px-4 @8xl/body:px-0")
            div(class="container mx-auto flex flex-col gap-8 pt-10 @6xl/body:px-6 bg-lightGray rounded-b-lg py-8")
                h1(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black") Для юридических лиц
                div(class="grid @xs/body:grid-cols-full @2xl/body:grid-cols-1fr-1fr gap-8")
                    img(class="rounded-lg w-full h-full aspect-16-9 object-cover", alt="Картинка", src=`${path}/img/stub.jpg`)
                    div(class="flex flex-col gap-6 p-4 rounded-lg bg-white")
                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum accusamus nemo obcaecati reprehenderit quia facere cumque soluta et? Reiciendis molestias amet porro maxime voluptatibus doloremque accusamus ab ut recusandae dolor.
            div(class="container mx-auto @6xl/body:px-6")
                div(class="grid @xs/body:grid-cols-full @2xl/body:grid-cols-2 @6xl/body:grid-cols-3 gap-8 max-w-full w-full mx-auto")
                    article(class="relative w-full flex flex-col gap-4 p-4 rounded-lg shadow-md bg-lightGray aspect-1-1 @xs/body:order-1 @6xl/body:order-none @6xl/body:after:contents-[''] @6xl/body:after:absolute @6xl/body:after:top-1/2 @6xl/body:after:left-full @6xl/body:after:w-8 @6xl/body:after:h-0 @6xl/body:after:border-b-2 @6xl/body:after:border-dotted @6xl/body:after:border-primary")
                        div(class="flex items-center gap-4")
                            img(class="absolute -left-2 top-3 object-cover w-20", alt="иконка", src=`${path}/img/other/plashka.svg`)
                            p(class="font-Montserrat font-medium text-white text-xl z-[5] pl-2 pr-10") 1
                            div(class="rounded-full p-2 w-max aspect-1-1 border-2 border-primary")
                                svg(width="24", height="24", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-primary")
                                    path(d="M12 19H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M12 15H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M20.0002 5H25C25.2652 5 25.5196 5.10536 25.7071 5.29289C25.8946 5.48043 26 5.73478 26 6V27C26 27.2652 25.8946 27.5196 25.7071 27.7071C25.5196 27.8946 25.2652 28 25 28H7C6.73478 28 6.48043 27.8946 6.29289 27.7071C6.10536 27.5196 6 27.2652 6 27V6C6 5.73478 6.10536 5.48043 6.29289 5.29289C6.48043 5.10536 6.73478 5 7 5H11.9997", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M11 9V8C11 6.67392 11.5268 5.40215 12.4645 4.46447C13.4021 3.52678 14.6739 3 16 3C17.3261 3 18.5979 3.52678 19.5355 4.46447C20.4732 5.40215 21 6.67392 21 8V9H11Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-semibold text-black @xs/body:text-base @6xl/body:text-lg h-max line-clamp-1") Заявка
                        div(class="flex flex-col gap-2")
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sint, ab aliquid numquam qui voluptatum tenetur necessitatibus nobis itaque iusto accusamus modi aperiam voluptas consequuntur vero veritatis? Minima, unde debitis.
                    article(class="relative w-full flex flex-col gap-4 p-4 rounded-lg shadow-md bg-lightGray aspect-1-1 @xs/body:order-2 @6xl/body:order-none @6xl/body:after:contents-[''] @6xl/body:after:absolute @6xl/body:after:top-1/2 @6xl/body:after:left-full @6xl/body:after:w-8 @6xl/body:after:h-0 @6xl/body:after:border-b-2 @6xl/body:after:border-dotted @6xl/body:after:border-primary")
                        div(class="flex items-center gap-4")
                            img(class="absolute -left-2 top-3 object-cover w-20", alt="иконка", src=`${path}/img/other/plashka.svg`)
                            p(class="font-Montserrat font-medium text-white text-xl z-[5] pl-2 pr-10") 2
                            div(class="rounded-full p-2 w-max aspect-1-1 border-2 border-primary")
                                svg(width="24", height="24", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-primary")
                                    path(d="M12 19H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M12 15H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M20.0002 5H25C25.2652 5 25.5196 5.10536 25.7071 5.29289C25.8946 5.48043 26 5.73478 26 6V27C26 27.2652 25.8946 27.5196 25.7071 27.7071C25.5196 27.8946 25.2652 28 25 28H7C6.73478 28 6.48043 27.8946 6.29289 27.7071C6.10536 27.5196 6 27.2652 6 27V6C6 5.73478 6.10536 5.48043 6.29289 5.29289C6.48043 5.10536 6.73478 5 7 5H11.9997", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M11 9V8C11 6.67392 11.5268 5.40215 12.4645 4.46447C13.4021 3.52678 14.6739 3 16 3C17.3261 3 18.5979 3.52678 19.5355 4.46447C20.4732 5.40215 21 6.67392 21 8V9H11Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-semibold text-black @xs/body:text-base @6xl/body:text-lg h-max line-clamp-1") Консультация
                        div(class="flex flex-col gap-2")
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sint, ab aliquid numquam qui voluptatum tenetur necessitatibus nobis itaque iusto accusamus modi aperiam voluptas consequuntur vero veritatis? Minima, unde debitis.
                    article(class="relative w-full flex flex-col gap-4 p-4 rounded-lg shadow-md bg-lightGray aspect-1-1 @xs/body:order-3 @6xl/body:order-none @6xl/body:after:contents-[''] @6xl/body:after:absolute @6xl/body:after:-bottom-8 @6xl/body:after:right-1/2 @6xl/body:after:w-0 @6xl/body:after:h-8 @6xl/body:after:border-r-2 @6xl/body:after:border-dotted @6xl/body:after:border-primary")
                        div(class="flex items-center gap-4")
                            img(class="absolute -left-2 top-3 object-cover w-20", alt="иконка", src=`${path}/img/other/plashka.svg`)
                            p(class="font-Montserrat font-medium text-white text-xl z-[5] pl-2 pr-10") 3
                            div(class="rounded-full p-2 w-max aspect-1-1 border-2 border-primary")
                                svg(width="24", height="24", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-primary")
                                    path(d="M12 19H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M12 15H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M20.0002 5H25C25.2652 5 25.5196 5.10536 25.7071 5.29289C25.8946 5.48043 26 5.73478 26 6V27C26 27.2652 25.8946 27.5196 25.7071 27.7071C25.5196 27.8946 25.2652 28 25 28H7C6.73478 28 6.48043 27.8946 6.29289 27.7071C6.10536 27.5196 6 27.2652 6 27V6C6 5.73478 6.10536 5.48043 6.29289 5.29289C6.48043 5.10536 6.73478 5 7 5H11.9997", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M11 9V8C11 6.67392 11.5268 5.40215 12.4645 4.46447C13.4021 3.52678 14.6739 3 16 3C17.3261 3 18.5979 3.52678 19.5355 4.46447C20.4732 5.40215 21 6.67392 21 8V9H11Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-semibold text-black @xs/body:text-base @6xl/body:text-lg h-max line-clamp-1") Заключение договора
                        div(class="flex flex-col gap-2")
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sint, ab aliquid numquam qui voluptatum tenetur necessitatibus nobis itaque iusto accusamus modi aperiam voluptas consequuntur vero veritatis? Minima, unde debitis.
                    article(class="relative w-full flex flex-col gap-4 p-4 rounded-lg shadow-md bg-lightGray aspect-1-1 @xs/body:order-6 @6xl/body:order-none")
                        div(class="flex items-center gap-4")
                            img(class="absolute -left-2 top-3 object-cover w-20", alt="иконка", src=`${path}/img/other/plashka.svg`)
                            p(class="font-Montserrat font-medium text-white text-xl z-[5] pl-2 pr-10") 6
                            div(class="rounded-full p-2 w-max aspect-1-1 border-2 border-primary")
                                svg(width="24", height="24", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-primary")
                                    path(d="M12 19H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M12 15H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M20.0002 5H25C25.2652 5 25.5196 5.10536 25.7071 5.29289C25.8946 5.48043 26 5.73478 26 6V27C26 27.2652 25.8946 27.5196 25.7071 27.7071C25.5196 27.8946 25.2652 28 25 28H7C6.73478 28 6.48043 27.8946 6.29289 27.7071C6.10536 27.5196 6 27.2652 6 27V6C6 5.73478 6.10536 5.48043 6.29289 5.29289C6.48043 5.10536 6.73478 5 7 5H11.9997", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M11 9V8C11 6.67392 11.5268 5.40215 12.4645 4.46447C13.4021 3.52678 14.6739 3 16 3C17.3261 3 18.5979 3.52678 19.5355 4.46447C20.4732 5.40215 21 6.67392 21 8V9H11Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-semibold text-black @xs/body:text-base @6xl/body:text-lg h-max line-clamp-1") Получение удостоверения
                        div(class="flex flex-col gap-2")
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sint, ab aliquid numquam qui voluptatum tenetur necessitatibus nobis itaque iusto accusamus modi aperiam voluptas consequuntur vero veritatis? Minima, unde debitis.
                    article(class="relative w-full flex flex-col gap-4 p-4 rounded-lg shadow-md bg-lightGray aspect-1-1 @xs/body:order-5 @6xl/body:order-none @6xl/body:after:contents-[''] @6xl/body:after:absolute @6xl/body:after:top-1/2 @6xl/body:after:right-full @6xl/body:after:w-8 @6xl/body:after:h-0 @6xl/body:after:border-b-2 @6xl/body:after:border-dotted @6xl/body:after:border-primary")
                        div(class="flex items-center gap-4")
                            img(class="absolute -left-2 top-3 object-cover w-20", alt="иконка", src=`${path}/img/other/plashka.svg`)
                            p(class="font-Montserrat font-medium text-white text-xl z-[5] pl-2 pr-10") 5
                            div(class="rounded-full p-2 w-max aspect-1-1 border-2 border-primary")
                                svg(width="24", height="24", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-primary")
                                    path(d="M12 19H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M12 15H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M20.0002 5H25C25.2652 5 25.5196 5.10536 25.7071 5.29289C25.8946 5.48043 26 5.73478 26 6V27C26 27.2652 25.8946 27.5196 25.7071 27.7071C25.5196 27.8946 25.2652 28 25 28H7C6.73478 28 6.48043 27.8946 6.29289 27.7071C6.10536 27.5196 6 27.2652 6 27V6C6 5.73478 6.10536 5.48043 6.29289 5.29289C6.48043 5.10536 6.73478 5 7 5H11.9997", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M11 9V8C11 6.67392 11.5268 5.40215 12.4645 4.46447C13.4021 3.52678 14.6739 3 16 3C17.3261 3 18.5979 3.52678 19.5355 4.46447C20.4732 5.40215 21 6.67392 21 8V9H11Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-semibold text-black @xs/body:text-base @6xl/body:text-lg h-max line-clamp-1") Обучение
                        div(class="flex flex-col gap-2")
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sint, ab aliquid numquam qui voluptatum tenetur necessitatibus nobis itaque iusto accusamus modi aperiam voluptas consequuntur vero veritatis? Minima, unde debitis.
                    article(class="relative w-full flex flex-col gap-4 p-4 rounded-lg shadow-md bg-lightGray aspect-1-1 @xs/body:order-4 @6xl/body:order-none @6xl/body:after:contents-[''] @6xl/body:after:absolute @6xl/body:after:top-1/2 @6xl/body:after:right-full @6xl/body:after:w-8 @6xl/body:after:h-0 @6xl/body:after:border-b-2 @6xl/body:after:border-dotted @6xl/body:after:border-primary")
                        div(class="flex items-center gap-4")
                            img(class="absolute -left-2 top-3 object-cover w-20", alt="иконка", src=`${path}/img/other/plashka.svg`)
                            p(class="font-Montserrat font-medium text-white text-xl z-[5] pl-2 pr-10") 4
                            div(class="rounded-full p-2 w-max aspect-1-1 border-2 border-primary")
                                svg(width="24", height="24", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg", class="stroke-primary")
                                    path(d="M12 19H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M12 15H20", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M20.0002 5H25C25.2652 5 25.5196 5.10536 25.7071 5.29289C25.8946 5.48043 26 5.73478 26 6V27C26 27.2652 25.8946 27.5196 25.7071 27.7071C25.5196 27.8946 25.2652 28 25 28H7C6.73478 28 6.48043 27.8946 6.29289 27.7071C6.10536 27.5196 6 27.2652 6 27V6C6 5.73478 6.10536 5.48043 6.29289 5.29289C6.48043 5.10536 6.73478 5 7 5H11.9997", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M11 9V8C11 6.67392 11.5268 5.40215 12.4645 4.46447C13.4021 3.52678 14.6739 3 16 3C17.3261 3 18.5979 3.52678 19.5355 4.46447C20.4732 5.40215 21 6.67392 21 8V9H11Z", stroke="", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            p(class="font-Montserrat font-semibold text-black @xs/body:text-base @6xl/body:text-lg h-max line-clamp-1") Оплата
                        div(class="flex flex-col gap-2")
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sint, ab aliquid numquam qui voluptatum tenetur necessitatibus nobis itaque iusto accusamus modi aperiam voluptas consequuntur vero veritatis? Minima, unde debitis.
            div(class="container mx-auto flex justify-center @6xl/body:px-6")
                button(dialog-btn="bid", type="button", class="bg-gradient-orange text-white rounded-lg p-4 px-6 text-xl w-max mx-auto") Оставить заявку
            div(class="container mx-auto flex flex-col gap-14 @6xl/body:px-6")
                h2(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black text-center") Программы лояльности
                div(class="flex flex-col gap-16")
                    article(class="grid @xs/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr @xs/body:gap-4 @6xl/body:gap-8")
                        img(class="rounded-lg w-full h-full aspect-16-9 object-cover", alt="Картинка", src=`${path}/img/stub.jpg`)
                        div(class="flex flex-col gap-4")
                            p(class="font-Montserrat font-semibold @xs/body:text-lg @6xl/body:text-2xl text-black") Акция 1
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga necessitatibus, molestiae blanditiis minima labore dicta a dolore. Inventore soluta officiis dolores accusantium.
                            div(class="flex flex-col")
                                p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Условия акции:
                                ul(class="list-disc pl-4")
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Широкие карьерные перспективы
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Поддержка со стороны государства
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Соответствие федеральным стандартам
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Внесение в Реестр
                            div(class="flex items-center gap-4 p-4 rounded-lg bg-lightGray mt-auto justify-between")
                                p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Акция действует
                                div(dedlineTimer="2025-01-25", class="flex items-center gap-2")
                                    p(dedlineTimerDays="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
                                    p(dedlineTimerDaysText="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") дня
                                    div(class="flex items-center")
                                        p(dedlineTimerHours="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") :
                                        p(dedlineTimerMinutes="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") :
                                        p(dedlineTimerSeconds="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
                    article(class="grid @xs/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr @xs/body:gap-4 @6xl/body:gap-8")
                        img(class="rounded-lg w-full h-full aspect-16-9 object-cover", alt="Картинка", src=`${path}/img/stub.jpg`)
                        div(class="flex flex-col gap-4")
                            p(class="font-Montserrat font-semibold @xs/body:text-lg @6xl/body:text-2xl text-black") Акция 2
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga necessitatibus, molestiae blanditiis minima labore dicta a dolore. Inventore soluta officiis dolores accusantium.
                            div(class="flex flex-col")
                                p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Условия акции:
                                ul(class="list-disc pl-4")
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Широкие карьерные перспективы
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Поддержка со стороны государства
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Соответствие федеральным стандартам
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Внесение в Реестр
                            div(class="flex items-center gap-4 p-4 rounded-lg bg-lightGray mt-auto justify-between")
                                p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Акция действует
                                div(dedlineTimer="2025-02-02", class="flex items-center gap-2")
                                    p(dedlineTimerDays="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
                                    p(dedlineTimerDaysText="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") дня
                                    div(class="flex items-center")
                                        p(dedlineTimerHours="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") :
                                        p(dedlineTimerMinutes="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") :
                                        p(dedlineTimerSeconds="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
                    article(class="grid @xs/body:grid-cols-full @6xl/body:grid-cols-1fr-1fr @xs/body:gap-4 @6xl/body:gap-8")
                        img(class="rounded-lg w-full h-full aspect-16-9 object-cover", alt="Картинка", src=`${path}/img/stub.jpg`)
                        div(class="flex flex-col gap-4")
                            p(class="font-Montserrat font-semibold @xs/body:text-lg @6xl/body:text-2xl text-black") Акция 3
                            p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga necessitatibus, molestiae blanditiis minima labore dicta a dolore. Inventore soluta officiis dolores accusantium.
                            div(class="flex flex-col")
                                p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Условия акции:
                                ul(class="list-disc pl-4")
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Широкие карьерные перспективы
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Поддержка со стороны государства
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Соответствие федеральным стандартам
                                    li(class=" marker:text-primary")
                                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Внесение в Реестр
                            div(class="flex items-center gap-4 p-4 rounded-lg bg-lightGray mt-auto justify-between")
                                p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Акция действует
                                div(dedlineTimer="2025-02-20", class="flex items-center gap-2")
                                    p(dedlineTimerDays="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
                                    p(dedlineTimerDaysText="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") дня
                                    div(class="flex items-center")
                                        p(dedlineTimerHours="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") :
                                        p(dedlineTimerMinutes="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") :
                                        p(dedlineTimerSeconds="", class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg") 00
            div(class="container mx-auto")
                include ../../../../../pug/Components/_consultationCard.pug
    include ../../../../../pug/layout/_footer.pug