extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug
include ../../../../../pug/ui/_userCard.pug

block scripts
    - var path = "./local/templates/tcavtodor"
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/libs/swiffy-slider-1.6.0/swiffy-slider.min.js`)
    script(src=`${path}/libs/imask/imask.js`)
    script(src=`${path}/modules/dialogMeneger.js`)
    script(src=`${path}/modules/tabs.js`)
    script(src=`${path}/pages/jeksperty/js/index.js`)


block head
    - var path = "./local/templates/tcavtodor"
    link(rel="stylesheet", href=`${path}/libs/swiffy-slider-1.6.0/swiffy-slider.min.css`)
    link(rel="stylesheet", href=`${path}/css/style.css`)
    +head('Эксперты - avtodor', '') 

block content
    - var authorization = true;
    +header(authorization)
    main(class="@container/body ")
        div(class="flex flex-col @xs/body:gap-16 @6xl/body:gap-32 @xs/body:mb-16 @6xl/body:mb-32 @xs/body:px-4 @8xl/body:px-0 after:contents-[''] after:absolute after:left-0 after:right-0 after:top-0 after:bg-lightGray after:h-full after:w-[calc=(100%+1rem)] after:container after:-z-10 after:mx-auto")
            div(class="container mx-auto flex flex-col gap-8 pt-10 @6xl/body:px-6")
                h1(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black") Наша команда
                div(class="grid @xs/body:grid-cols-full @2xl/body:grid-cols-1fr-1fr gap-8")
                    img(class="w-full aspect-16-9 object-cover rounded-lg", alt="лого", src=`${path}/img/other/teacher.png`)
                    div(class="flex flex-col gap-4")
                        p(class="font-Montserrat font-medium @xs/body:text-base @6xl/body:text-lg text-black") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum accusamus nemo obcaecati reprehenderit quia facere cumque soluta et? Reiciendis molestias amet porro maxime voluptatibus doloremque accusamus ab ut recusandae dolor.
            div(class="container mx-auto flex flex-col gap-20 @6xl/body:px-6")
                h2(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black text-center") Состав разработчиков направления
                div(tabBlock="", class="flex flex-col gap-8")
                    div(tabNav="", class="flex flex-wrap gap-4 items-center")
                        label(for="tab1", class=" cursor-pointer")
                            input(tab="1", id="tab1", type="radio", name="drone", class="hidden peer", checked) 
                            p(class="font-Montserrat font-medium text-secondary peer-checked:text-primary hover:text-primaryHover border-b border-b-secondary peer-checked:border-b-primary hover:border-b-primaryHover @xs/body:text-base @6xl/body:text-xl pb-1") Содержание искусственных сооружений
                        label(for="tab2", class=" cursor-pointer")
                            input(tab="2",id="tab2", type="radio", name="drone", class="hidden peer") 
                            p(class="font-Montserrat font-medium text-secondary peer-checked:text-primary hover:text-primaryHover border-b border-b-secondary peer-checked:border-b-primary hover:border-b-primaryHover @xs/body:text-base @6xl/body:text-xl pb-1") Содержание автомобильных дорог
                        label(for="tab3", class=" cursor-pointer")
                            input(tab="3", id="tab3", type="radio", name="drone", class="hidden peer") 
                            p(class="font-Montserrat font-medium text-secondary peer-checked:text-primary hover:text-primaryHover border-b border-b-secondary peer-checked:border-b-primary hover:border-b-primaryHover @xs/body:text-base @6xl/body:text-xl pb-1") Строительство автомобильных дорог и ИССО
                        label(for="tab4", class=" cursor-pointer")
                            input(tab="4", id="tab4", type="radio", name="drone", class="hidden peer") 
                            p(class="font-Montserrat font-medium text-secondary peer-checked:text-primary hover:text-primaryHover border-b border-b-secondary peer-checked:border-b-primary hover:border-b-primaryHover @xs/body:text-base @6xl/body:text-xl pb-1") Иммерсивные технологии
                        label(for="tab5", class=" cursor-pointer")
                            input(tab="5", id="tab5", type="radio", name="drone", class="hidden peer") 
                            p(class="font-Montserrat font-medium text-secondary peer-checked:text-primary hover:text-primaryHover border-b border-b-secondary peer-checked:border-b-primary hover:border-b-primaryHover @xs/body:text-base @6xl/body:text-xl pb-1") Изыскание и проектирование
                        label(for="tab6", class=" cursor-pointer")
                            input(tab="6", id="tab6", type="radio", name="drone", class="hidden peer") 
                            p(class="font-Montserrat font-medium text-secondary peer-checked:text-primary hover:text-primaryHover border-b border-b-secondary peer-checked:border-b-primary hover:border-b-primaryHover @xs/body:text-base @6xl/body:text-xl pb-1") Строительный, геодезический и лабораторный контроль
                        label(for="tab7", class=" cursor-pointer")
                            input(tab="7", id="tab7", type="radio", name="drone", class="hidden peer") 
                            p(class="font-Montserrat font-medium text-secondary peer-checked:text-primary hover:text-primaryHover border-b border-b-secondary peer-checked:border-b-primary hover:border-b-primaryHover @xs/body:text-base @6xl/body:text-xl pb-1") Экология в дорожном строительстве
                        label(for="tab8", class=" cursor-pointer")
                            input(tab="8", id="tab8", type="radio", name="drone", class="hidden peer") 
                            p(class="font-Montserrat font-medium text-secondary peer-checked:text-primary hover:text-primaryHover border-b border-b-secondary peer-checked:border-b-primary hover:border-b-primaryHover @xs/body:text-base @6xl/body:text-xl pb-1") Программное обеспечение общего пользования
                    div(tabContent="1", class="grid grid-cols-full gap-8")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Разработчики
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Авторы
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    div(tabContent="2", class="hidden grid-cols-full gap-8")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Разработчики
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Авторы
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slРазработчикеndicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и анаРазработчике
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    div(tabContent="3", class="hidden grid-cols-full gap-8")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Разработчики
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Авторы
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    div(tabContent="4", class="hidden grid-cols-full gap-8")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Разработчики
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Авторы
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    div(tabContent="5", class="hidden grid-cols-full gap-8")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Разработчики
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Авторы
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    div(tabContent="6", class="hidden grid-cols-full gap-8")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Разработчики
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Авторы
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    div(tabContent="7", class="hidden grid-cols-full gap-8")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Разработчики
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Авторы
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    div(tabContent="8", class="hidden grid-cols-full gap-8")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Разработчики
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Разработчике
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        p(class="font-Montserrat font-semibold text-3xl text-black text-center") Авторы
                        div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                            div(class="slider-container pb-1")
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                                article(class="flex flex-col items-center gap-4 p-2")
                                    img(class="w-full aspect-1-1 max-w-56 object-cover rounded-full", alt="фото автора", src=`${path}/img/people/profile.png`)
                                    div(class="flex flex-col gap-1")
                                        p(class="font-Montserrat font-medium text-black @xs/body:text-base @6xl/body:text-lg text-center") Mildred Powers
                                        ul(class="list-disc pl-4")
                                            li(class=" marker:text-primary")
                                                p(class="font-Montserrat font-medium text-secondary text-sm") Руководитель отдела торговли и аналитики
                                    a(dialog-btn="authorInfo", author-id="1", href="#", class="border border-primary text-primary rounded-lg p-2 px-4 text-xl w-full h-max text-center") Об Авторе
                            button(class="slider-nav", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="slider-nav slider-nav-next", type="button")
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")

            div(class="container mx-auto flex flex-col gap-20 @6xl/body:px-6")
                h2(class="font-Montserrat font-semibold @xs/body:text-3xl @6xl/body:text-4xl text-black text-center") Команда Учебного центра
                div(class="swiffy-slider slider-indicators-round slider-nav-outside slider-custom-2 @xl/body:slider-item-show1 @2xl/body:slider-item-show-2 @6xl/body:slider-item-show4 slider-indicators-dark slider-nav-visible")
                    div(class="slider-container pb-1")
                        -
                            var items = [
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                                {
                                    name: "Иванов И.И.",
                                    img: `${path}/img/people/profile.png`,
                                    achievements: [
                                        {
                                            name: "Представитель компании"
                                        },
                                        {
                                            name: "Консультант по криптовалюте"
                                        },
                                        {
                                            name: "Зарабатывает в интернете более 6 лет"
                                        }
                                    ],
                                },
                            ]
                        +userCard(items)
                    button(class="slider-nav", type="button")
                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M20 26L10 16L20 6", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    button(class="slider-nav slider-nav-next", type="button")
                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M12 6L22 16L12 26", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
            div(class="container mx-auto @6xl/body:px-6")
                include ../../../../../pug/Components/_consultationCard.pug
    include ../../../../../pug/layout/_footer.pug